    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .heading {
        color: white;
        text-transform: uppercase;
        background: green;
        text-align: center;
    }